.logo {
    padding: 10px;
    margin: 0;
	border: 1px solid black;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
    list-style: none;
}

.navLink {
    color: #0f0f0f;
    padding-left: 25px;
    text-decoration: none;
    cursor: pointer;
}

.resume {
    padding: 5px;
    border: 1px solid blue;
    box-sizing: border-box;
}