@media screen and (max-width: 600px) {
	.navigation {
		display: none;
	}
}

.header {
	display:flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
	margin-left: 2rem;
}

.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: basline;
	text-transform: uppercase;
}

.navigation_menu {
	display: flex;
    justify-content:flex-start;
    align-items: baseline;
	list-style: none;
}

.menu__link {
	text-decoration: none;
	margin-left: 20px;
}

.menu__link:active {
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: 5px underline green;
}

.resume {
    margin-left: 20px;
	margin-right: 2rem;
}

.resume_link {
    text-decoration: none;
}

.resume_svg {
    font-size: 1.4rem;
}